@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    font-family: 'Lato', san-serif;
}

.pagecontainer {
    margin: 50px auto 0px auto;
}

.gray {
    opacity: 0.4;
}

.cart-block {
    padding: 55px 10px;
    text-align: center;
}

.cart-block .btn {
    background: #C93725;
    color: #FFFFFF;
    border: transparent;
    font-weight: normal;
}

.shop-details .media-object {
    min-width: 35px;
    max-width: 35px;
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}

.padding-top {
    padding-top: 0;
}

.padding-bottom {
    padding-bottom: 0;
}

.padding {
    padding: 0;
}

.shop-box {
    float: left;
    border: solid 1px #cccccc;
    box-shadow: 1px 1px 5px #cccccc;
}
.img-responsive {
    width: 100%;
}
@media (min-width: 1200px) {
    .test {
        margin-left: 279px;
        margin-top: -40px;

        width: 100px;
    }
    .shop-logo{
        max-height: 250px;}
}

@media only screen and (max-width: 1200px) {
    .shop-logo{
        max-height: 210px;}
}
@media (min-width:550px) and (max-width:767px){
    .tablet{width: 50%!important;}
}
@media only screen and (max-width: 480px) {
    .test {
        margin-left: 224px;
        margin-top: -39px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #button-submit {
        margin-left: 90px;
    }
}

.myimg {
    height: 42px;
    width: 59px;
    margin-top: 10px;
}

.shops {
    margin-left: -30px
}
.center{margin-left: auto;margin-right: auto;float:none;display: block;}
body {
    overflow-x: hidden;
}
.carousel-control .fa{font-size: 60px;}

@media (min-width: 1200px) {
    .glyph {
        padding-left: 180px;
        padding-top: 30px;
    }
}

@media (max-width: 480px) {
    .glyph {
        padding-left: 140px;
        padding-top: 30px;
    }
}

@media (min-width: 1200px) {
    .test {
        margin-left: 279px;
        margin-top: -40px;

        width: 100px;
    }
}

@media only screen and (max-width: 480px) {
    #button-submit {
        margin-left: 90px;
    }
}

/*@media only screen and (max-width: px), only screen and (max-device-width: 480px) {

    .del {
        padding-left: 314px;
        margin-top: -52px;
    }
}*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .icon {
        padding-left: 50px;
        margin-top: -45px;
    }
}
.label-align {
    margin-top: 7px;
    margin-right: 10px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    line-height: 1;
    margin: 0 auto;
}
