<div id="head">
		<div class="container" ng-style="bodyStyle">

			<div class="intro-text">

				<div class="intro-heading" style="color: black">
					
				</div>
                <div class='text-center' id="regsign">
				<button ng-click="go('/register')" class="page-scroll btn btn-xl" id="regbtn"> Register</a>
				<button ng-click="go('/login')" class="page-scroll btn btn-xl" id="logbtn">Login</a>
                    </div>
			</div>
		</div>
	</div>