<div ng-controller="SignUp as ctrl" id="login">
        <div class="signup-wrapper">

           
            <div id="frm">
                <div>
            <form >
                 <div class="form-group" >
                    <label for="number">Mobile Number</label>
                    <input id="mobilenumber" name="mobilenumber" class="form-control" type="name" required >



                </div>
                
                 <div class="form-group" >
                    <label for="password">Password</label>
                    <input id="password" name="password" class="form-control" type="name" required >

                 </div>
               

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
                    
                    </div>
                </div>
        </div>
</div>
       