<div ng-controller="SignUpController as ctrl" id="sign">
    <div class="signup-wrapper">
        <div>

        </div>
        <!--<div class="logo">
            <img src="assets/images/logo.png" alt="Logo"/>
        </div>-->
        <div class="alert alert-success message-animation" role="alert" ng-if="ctrl.showSubmittedPrompt">
            Thank you! Your account has been created.
        </div>
        <div id="frm">
            <div>
                <form name="ctrl.signupForm" ng-submit="ctrl.signup()" shake-that submitted="submitted" novalidate>
                    <div class="form-group" ng-class="{'has-error':ctrl.hasErrorClass('email')}">
                        <label for="email">Name</label>
                        <input id="email" name="email" class="form-control" type="name" required
                               ng-model="ctrl.newCustomer.email" ng-model-options="{ updateOn : 'default blur' }"
                               ng-focus="ctrl.toggleEmailPrompt(true)" ng-blur="ctrl.toggleEmailPrompt(false)"/>

                        <div class="my-messages">
                            <div class="prompt message-animation" ng-if="ctrl.showEmailPrompt">
                                What's your name?
                            </div>
                        </div>
                        <!-- <div class="my-messages" ng-messages="ctrl.signupForm.email.$error" ng-if="ctrl.showMessages('email')">
                             <div class="message-animation" ng-message="required">
                                 <strong>This field is required.</strong>
                             </div>
                             <div class="message-animation" ng-message="email">
                                 <strong>Please format your email correctly.</strong>
                             </div>
                         </div>-->
                    </div>
                    <div class="form-group" ng-class="{'has-error':ctrl.hasErrorClass('userName')}">
                        <label for="userName">Mobile Number</label>
                        <input id="userName" name="userName" class="form-control" type="text" required
                               ng-model="ctrl.newCustomer.userName" ng-model-options="{ updateOn : 'default blur' }"
                               ng-focus="ctrl.toggleUsernamePrompt(true)" ng-blur="ctrl.toggleUsernamePrompt(false)"/>

                        <div class="my-messages">
                            <div class="prompt message-animation" ng-if="ctrl.showUsernamePrompt">
                                Enter 10 digits Mobile Number
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>

                        <div class="input-group">
                            <input id="password" name="password" class="form-control" required
                                   type="{{ctrl.getPasswordType()}}"
                                   ng-model-options="{ updateOn : 'default blur' }"
                                   ng-model="ctrl.newCustomer.password"
                                   validate-password-characters/>
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="ctrl.signupForm.showPassword"> Show
                        </span>
                        </div>
                        <div class="form-group">
                            <!--  <div ng-controller="ExampleController">-->
                            <!-- <label for="singleSelect"> Single select: </label>-->
                            <!-- <select name="singleSelect" ng-model="data.singleSelect" class="form-control">-->
                            <div ng-controller="ExampleController">
                                <label for="singleSelect"> Select City: </label>
                                <select name="type" ng-model="payment.type" ng-dropdown required ng-change="changeme()"
                                        class="form-control">

                                    <option ng-option value="Hyderabad">Hyderabad</option>
                                    <option ng-option value="Kurnool">Kurnool</option>
                                    <option ng-option value="Bangalore">Bangalore</option>
                                </select></br>

                                <div id="cash" ng-if="payment.type == 'Hyderabad'">

                                    <label for="singleSelect">Select Area</label>

                                    <select name="singleSelect" ng-dropdown required ng-model="data.singleSelect"
                                            class="form-control">
                                        <option ng-option value="Hyderabad">Ameerpet</option>
                                        <option ng-option value="Kurnool">Towlichowki</option>
                                        <option ng-option value="Bangalore">Banjara Hills</option>
                                    </select>


                                </div>

                                <div id="cash" ng-if="payment.type == 'Kurnool'">

                                    <label for="singleSelect">Select Area</label>

                                    <select name="singleSelect" ng-dropdown required ng-model="data.singleSelect"
                                            class="form-control">
                                        <option ng-option value="Hyderabad">Rajvihar</option>
                                        <option ng-option value="Kurnool">B-camp</option>
                                        <option ng-option value="Bangalore">Colony</option>
                                    </select>


                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">Create My Account</button>
                </form>

            </div>

        </div>
    </div>
</div>
       